In [1]:
import pandas as pd
import math
import numpy as np
from phase1 import *

documents= stemmed_documents
all_words=[]

for doc in documents:
    for word in doc:
        all_words.append(word)

# print(dict.fromkeys(all_words,0))

def get_term_freq(doc):
    words_found=dict.fromkeys(all_words,0)
    for word in doc:
        words_found[word] +=1
    return words_found

term_freq= pd.DataFrame(get_term_freq(documents[0]).values(),index=get_term_freq(documents[0]).keys())


for i in range(1,len(documents)):
    term_freq[i]= get_term_freq(documents[i]).values()

# print(term_freq)

term_freq.columns=['doc'+ str(i) for i in range(1,11)]
print(term_freq)


def get_weighted_term_freq(x):
    if x>0:
        return math.log(x)+1
    return 0

for i in range (1,len(documents)+1):
    term_freq['doc'+str(i)]=term_freq['doc'+str(i)].apply(get_weighted_term_freq)

print(term_freq)
# idf is log(doc num/ term freq in doc)
tfd=pd.DataFrame(columns=['freq','idf'])

for i in range(len(term_freq)):

    frequency=term_freq.iloc[i].values.sum()

    tfd.loc[i ,'freq']= frequency

    tfd.loc[i ,'idf']=math.log10(10 / float((frequency)) )

tfd.index= term_freq.index
print(tfd)    


##### TF IDF #####

term_freq_inverse_doc_freq= term_freq.multiply(tfd['idf'], axis=0)

print(term_freq_inverse_doc_freq)


####### doc length

document_length=pd.DataFrame()

def get_docs_length(col):
    return np.sqrt(term_freq_inverse_doc_freq[col].apply(lambda x : x**2).sum())

for column in term_freq_inverse_doc_freq.columns:
    document_length.loc[0 , column+'_len']= get_docs_length(column)

print(document_length)


#### normalized TF IDF ######


normalized_term_freq_idf= pd.DataFrame()

def get_normalized(col , x):
    try:
        return x / document_length[col+'_len'].values[0]
    
    except:
        return 0
    
for column in term_freq_inverse_doc_freq.columns:
    normalized_term_freq_idf[column]= term_freq_inverse_doc_freq[column].apply(lambda x : get_normalized(column , x))

normalized_term_freq_idf

[['antoni', 'brutu', 'caeser', 'cleopatra', 'merci', 'worser'], ['antoni', 'brutu', 'caeser', 'calpurnia'], ['merci', 'worser'], ['brutu', 'caeser', 'merci', 'worser'], ['caeser', 'merci', 'worser'], ['antoni', 'caeser', 'merci'], ['angel', 'fool', 'fear', 'in', 'rush', 'to', 'tread', 'where'], ['angel', 'fool', 'fear', 'in', 'rush', 'to', 'tread', 'where'], ['angel', 'fool', 'in', 'rush', 'to', 'tread', 'where'], ['fool', 'fear', 'in', 'rush', 'to', 'tread', 'where']]
Document 1: ['antoni', 'brutu', 'caeser', 'cleopatra', 'merci', 'worser']
Document 2: ['antoni', 'brutu', 'caeser', 'calpurnia']
Document 3: ['merci', 'worser']
Document 4: ['brutu', 'caeser', 'merci', 'worser']
Document 5: ['caeser', 'merci', 'worser']
Document 6: ['antoni', 'caeser', 'merci']
Document 7: ['angel', 'fool', 'fear', 'in', 'rush', 'to', 'tread', 'where']
Document 8: ['angel', 'fool', 'fear', 'in', 'rush', 'to', 'tread', 'where']
Document 9: ['angel', 'fool', 'in', 'rush', 'to', 'tread', 'where']
Document 10: ['fool', 'fear', 'in', 'rush', 'to', 'tread', 'where']
OrderedDict({'angel': [3, OrderedDict({6: [0], 7: [0], 8: [0]})], 'antoni': [3, OrderedDict({0: [0], 1: [0], 5: [0]})], 'brutu': [3, OrderedDict({0: [1], 1: [1], 3: [0]})], 'caeser': [5, OrderedDict({0: [2], 1: [2], 3: [1], 4: [0], 5: [1]})], 'calpurnia': [1, OrderedDict({1: [3]})], 'cleopatra': [1, OrderedDict({0: [3]})], 'fear': [3, OrderedDict({6: [2], 7: [2], 9: [1]})], 'fool': [4, OrderedDict({6: [1], 7: [1], 8: [1], 9: [0]})], 'in': [4, OrderedDict({6: [3], 7: [3], 8: [2], 9: [2]})], 'merci': [5, OrderedDict({0: [4], 2: [0], 3: [2], 4: [1], 5: [2]})], 'rush': [4, OrderedDict({6: [4], 7: [4], 8: [3], 9: [3]})], 'to': [4, OrderedDict({6: [5], 7: [5], 8: [4], 9: [4]})], 'tread': [4, OrderedDict({6: [6], 7: [6], 8: [5], 9: [5]})], 'where': [4, OrderedDict({6: [7], 7: [7], 8: [6], 9: [6]})], 'worser': [4, OrderedDict({0: [5], 2: [1], 3: [3], 4: [2]})]})
[[], [], [], [], [], [], [], [], [], []]
[[], [], [], [], [], [1, 2], [1, 2], [1], [0, 1], []]
6
7
9
           doc1  doc2  doc3  doc4  doc5  doc6  doc7  doc8  doc9  doc10
antoni        1     1     0     0     0     1     0     0     0      0
brutu         1     1     0     1     0     0     0     0     0      0
caeser        1     1     0     1     1     1     0     0     0      0
cleopatra     1     0     0     0     0     0     0     0     0      0
merci         1     0     1     1     1     1     0     0     0      0
worser        1     0     1     1     1     0     0     0     0      0
calpurnia     0     1     0     0     0     0     0     0     0      0
angel         0     0     0     0     0     0     1     1     1      0
fool          0     0     0     0     0     0     1     1     1      1
fear          0     0     0     0     0     0     1     1     0      1
in            0     0     0     0     0     0     1     1     1      1
rush          0     0     0     0     0     0     1     1     1      1
to            0     0     0     0     0     0     1     1     1      1
tread         0     0     0     0     0     0     1     1     1      1
where         0     0     0     0     0     0     1     1     1      1
           doc1  doc2  doc3  doc4  doc5  doc6  doc7  doc8  doc9  doc10
antoni      1.0   1.0   0.0   0.0   0.0   1.0   0.0   0.0   0.0    0.0
brutu       1.0   1.0   0.0   1.0   0.0   0.0   0.0   0.0   0.0    0.0
caeser      1.0   1.0   0.0   1.0   1.0   1.0   0.0   0.0   0.0    0.0
cleopatra   1.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0    0.0
merci       1.0   0.0   1.0   1.0   1.0   1.0   0.0   0.0   0.0    0.0
worser      1.0   0.0   1.0   1.0   1.0   0.0   0.0   0.0   0.0    0.0
calpurnia   0.0   1.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0    0.0
angel       0.0   0.0   0.0   0.0   0.0   0.0   1.0   1.0   1.0    0.0
fool        0.0   0.0   0.0   0.0   0.0   0.0   1.0   1.0   1.0    1.0
fear        0.0   0.0   0.0   0.0   0.0   0.0   1.0   1.0   0.0    1.0
in          0.0   0.0   0.0   0.0   0.0   0.0   1.0   1.0   1.0    1.0
rush        0.0   0.0   0.0   0.0   0.0   0.0   1.0   1.0   1.0    1.0
to          0.0   0.0   0.0   0.0   0.0   0.0   1.0   1.0   1.0    1.0
tread       0.0   0.0   0.0   0.0   0.0   0.0   1.0   1.0   1.0    1.0
where       0.0   0.0   0.0   0.0   0.0   0.0   1.0   1.0   1.0    1.0
          freq       idf
antoni     3.0  0.522879
brutu      3.0  0.522879
caeser     5.0   0.30103
cleopatra  1.0       1.0
merci      5.0   0.30103
worser     4.0   0.39794
calpurnia  1.0       1.0
angel      3.0  0.522879
fool       4.0   0.39794
fear       3.0  0.522879
in         4.0   0.39794
rush       4.0   0.39794
to         4.0   0.39794
tread      4.0   0.39794
where      4.0   0.39794
               doc1      doc2     doc3      doc4     doc5      doc6      doc7  \
antoni     0.522879  0.522879      0.0       0.0      0.0  0.522879       0.0
brutu      0.522879  0.522879      0.0  0.522879      0.0       0.0       0.0
caeser      0.30103   0.30103      0.0   0.30103  0.30103   0.30103       0.0
cleopatra       1.0       0.0      0.0       0.0      0.0       0.0       0.0
merci       0.30103       0.0  0.30103   0.30103  0.30103   0.30103       0.0
worser      0.39794       0.0  0.39794   0.39794  0.39794       0.0       0.0
calpurnia       0.0       1.0      0.0       0.0      0.0       0.0       0.0
angel           0.0       0.0      0.0       0.0      0.0       0.0  0.522879
fool            0.0       0.0      0.0       0.0      0.0       0.0   0.39794
fear            0.0       0.0      0.0       0.0      0.0       0.0  0.522879
in              0.0       0.0      0.0       0.0      0.0       0.0   0.39794
rush            0.0       0.0      0.0       0.0      0.0       0.0   0.39794
to              0.0       0.0      0.0       0.0      0.0       0.0   0.39794
tread           0.0       0.0      0.0       0.0      0.0       0.0   0.39794
where           0.0       0.0      0.0       0.0      0.0       0.0   0.39794

               doc8      doc9     doc10
antoni          0.0       0.0       0.0
brutu           0.0       0.0       0.0
caeser          0.0       0.0       0.0
cleopatra       0.0       0.0       0.0
merci           0.0       0.0       0.0
worser          0.0       0.0       0.0
calpurnia       0.0       0.0       0.0
angel      0.522879  0.522879       0.0
fool        0.39794   0.39794   0.39794
fear       0.522879       0.0  0.522879
in          0.39794   0.39794   0.39794
rush        0.39794   0.39794   0.39794
to          0.39794   0.39794   0.39794
tread       0.39794   0.39794   0.39794
where       0.39794   0.39794   0.39794
   doc1_len  doc2_len  doc3_len  doc4_len  doc5_len  doc6_len  doc7_len  \
0  1.373462  1.279618  0.498974  0.782941  0.582747   0.67427  1.223496

   doc8_len  doc9_len  doc10_len
0  1.223496  1.106137   1.106137

,doc1,doc2,doc3,doc4,doc5,doc6,doc7,doc8,doc9,doc10
antoni,0.380701,0.408621,0.000000,0.000000,0.000000,0.775474,0.000000,0.000000,0.000000,0.000000
brutu,0.380701,0.408621,0.000000,0.667839,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
caeser,0.219176,0.235250,0.000000,0.384486,0.516570,0.446453,0.000000,0.000000,0.000000,0.000000
cleopatra,0.728087,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
merci,0.219176,0.000000,0.603298,0.384486,0.516570,0.446453,0.000000,0.000000,0.000000,0.000000
worser,0.289735,0.000000,0.797516,0.508263,0.682869,0.000000,0.000000,0.000000,0.000000,0.000000
calpurnia,0.000000,0.781483,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
angel,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.427365,0.427365,0.472707,0.000000
fool,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.325248,0.325248,0.359756,0.359756
fear,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.427365,0.427365,0.000000,0.472707
in,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.325248,0.325248,0.359756,0.359756
rush,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.325248,0.325248,0.359756,0.359756
to,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.325248,0.325248,0.359756,0.359756
tread,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.325248,0.325248,0.359756,0.359756
where,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.325248,0.325248,0.359756,0.359756

In [32]:
from sklearn.preprocessing import normalize

# Assume normalized_term_freq_idf, tfd, and other required functions are defined

# def query_boolean(q):
    porter = PorterStemmer()
    query_tokens = word_tokenize(q)
    stemmed_query= [porter.stem(token) for token in query_tokens]

    # Check for boolean operators
    if ' AND ' in q:
        operator = 'AND'
        query_terms = [term.strip() for term in q.split('AND')]
    elif ' OR ' in q:
        operator = 'OR'
        query_terms = [term.strip() for term in q.split('OR')]
    else:
        operator = 'AND'  # Default to OR if no explicit operator is provided
        query_terms = [term.strip() for term in q.split()]

    # Initialize an empty dataframe
    query_result = pd.DataFrame(index=normalized_term_freq_idf.index)

    for term in query_terms:
        # Stem each term
        term_tokens = word_tokenize(term)
        stemmed_term = [porter.stem(token) for token in term_tokens]

        # Create a query vector for the current term
        query = pd.DataFrame(index=normalized_term_freq_idf.index)
        query['tf'] = [1 if x in stemmed_term else 0 for x in normalized_term_freq_idf.index]
        query['w_tf'] = query['tf'].apply(lambda x: get_weighted_term_freq(x))
        product = normalized_term_freq_idf.multiply(query['w_tf'], axis= 0)
        query['idf'] = tfd['idf'] * query['w_tf']
        query['tf_idf'] = query['idf'] * query['w_tf']
        query['norm'] = normalize(query[['idf']], norm='l2', axis=0)

        # for i in range(len(query)):
        #     query['norm'].iloc[i]= query['idf'].iloc[i] / math.sqrt(sum(query['idf'].values**2))
        product2=product.multiply(query['norm'], axis=0)

        # Perform AND or OR operation
        if operator == 'AND':
            query_result = pd.concat([query_result, query], axis=1, join='inner')  # Use inner join for AND
        elif operator == 'OR':
            query_result = pd.concat([query_result, query], axis=1, join='outer')

    # Return the final result after AND or OR operation
    # query_len(query_result)
    # return query_result

IndentationError: unexpected indent (3490342560.py, line 6)

In [ ]:
# Handling boolean operators
boolean_operators = ['and', 'or', 'not']
boolean_operator = None

for op in boolean_operators:
    if op in query_terms:
        boolean_operator = op
        break

matched_documents = None

# Split the query based on the boolean operator
query_parts = user_query.lower().split(boolean_operator)
# Tokenization and stemming for each part
query_parts_terms = [
    [porter_stemmer.stem(word) for word in word_tokenize(part)] for part in query_parts
]
print(query_parts_terms)

if boolean_operator:
    # Find matched documents for each part
    matched_documents_parts = []
    for part_terms in query_parts_terms:
        matched_documents_part = set(range(1, len(document_lengths) + 1))  # Initialize with all documents
        for term in part_terms:
            if term in positional_index:
                matched_documents_part &= set(positional_index[term]['docs'].keys()) # type: ignore
        matched_documents_parts.append(matched_documents_part)
    print(matched_documents_parts)
    # Apply boolean operator
    if boolean_operator == 'and':
        matched_documents = set.intersection(*matched_documents_parts)
    elif boolean_operator == 'or':
        matched_documents = set.union(*matched_documents_parts)
    elif boolean_operator == 'not':
        matched_documents = set.difference(set(range(1, len(document_lengths) + 1)), *matched_documents_parts)
    
else:
    # No boolean operator, find matched documents without considering boolean logic
    matched_documents = set(range(1, len(document_lengths) + 1))
    for term in query_terms:
        if term in positional_index:
            matched_documents &= set(positional_index[term]['docs'].keys()) # type: ignore

print("Matched Documents:", matched_documents)


# Get distinct terms in the query
query_terms = [item for sublist in query_parts_terms for item in sublist]
original_query_terms = query_terms
query_terms = list(set(query_terms))

In [27]:
q= 'antony OR brutus'
# def phrse_query(q):
porter = PorterStemmer()
query_tokens = word_tokenize(q)
stemmed_query = [porter.stem(token) for token in query_tokens]
q= ' '.join(stemmed_query)
query_boolean(q)

,tf,w_tf,idf,tf_idf,norm,tf,w_tf,idf,tf_idf,norm,tf,w_tf,idf,tf_idf,norm
antoni,1,1.0,0.522879,0.522879,1.0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0
brutu,0,0.0,0.0,0.0,0.0,0,0,0.0,0.0,0.0,1,1.0,0.522879,0.522879,1.0
caeser,0,0.0,0.0,0.0,0.0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0
cleopatra,0,0.0,0.0,0.0,0.0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0
merci,0,0.0,0.0,0.0,0.0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0
worser,0,0.0,0.0,0.0,0.0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0
calpurnia,0,0.0,0.0,0.0,0.0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0
angel,0,0.0,0.0,0.0,0.0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0
fool,0,0.0,0.0,0.0,0.0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0
fear,0,0.0,0.0,0.0,0.0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0
in,0,0.0,0.0,0.0,0.0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0
rush,0,0.0,0.0,0.0,0.0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0
to,0,0.0,0.0,0.0,0.0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0
tread,0,0.0,0.0,0.0,0.0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0
where,0,0.0,0.0,0.0,0.0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0

In [30]:
def query_len(query):
    query_length = 0

    # Iterate through the query terms
    for term in q.split():
        term_tokens = word_tokenize(term)
        stemmed_term = [porter.stem(token) for token in term_tokens]

        # Check if the term is present in the query vector
        if stemmed_term[0] in query.index:
            query_length += query['idf'].loc[stemmed_term[0]] ** 2

    # Take the square root of the sum of squared IDF values
    query_length = math.sqrt(query_length)
query_length

0

In [31]:
scores = {}

# Iterate through the columns of the product2 dataframe
for col in product2.columns:
    # Extract the relevant IDF values from the query vector
    query_idf_values = query['idf'].loc[product2.index]

    # Check if any of the relevant IDF values is zero
    if 0 in query_idf_values.values:
        # Skip if any term in the query has IDF of 0
        pass
    else:
        # Calculate the score by summing the product of normalized TF-IDF values and query IDF values
        scores[col] = (product2[col] * query_idf_values).sum()

# Print or use the scores as needed
scores

NameError: name 'product2' is not defined

In [ ]:
# scores = {}

# Iterate through the columns of the product2 dataframe
for col in product2.columns:
    # Extract the relevant IDF values from the query vector
    query_idf_values = query['idf'].loc[product2.index]

    # Calculate the score by summing the product of normalized TF-IDF values and query IDF values
    scores[col] = (product2[col] * query_idf_values).sum()

# Filter out documents that don't contain any term from the query
filtered_scores = {key: score for key, score in scores.items() if any(query['tf'].loc[product2.index].astype(bool))}
filtered_scores

In [ ]:
prod_res = product2[filtered_scores.keys()].loc[query.index.intersection(q.split())]

In [ ]:
prod_sum=prod_res.sum()
prod_sum

In [ ]:
final_score=sorted(prod_sum.items(), key= lambda x :x[1], reverse= True)
final_score

In [ ]:
for doc in final_score:
    print(doc[0], end=' ')